.new-project-reminder
  %h2 Things to keep in mind:
  %ol
    %li
      %h3
        This is a public project.
        %small ...anyone can see it if they have (or guess) the URL. (Only you can edit it though)
    %li
      %h3
        You should bookmark this page
        %small ...or set up an account and claim the project, linking it to your login.
    %li
      %h3
        You can secure the project
        %small ...by claiming it & making it 'private'.
  %p
    = link_to "Cool, got it...", "", :class => "hide-grandparent"
