.new-project-reminder
  %ol
    %li
      %h3
        This is a public project.
        %small ...anyone can see it if they have (or guess) the URL. (Only the creator can edit it though)
    %li
      %h3
        If you created this project
        %small ...you may want to bookmark this page...or set up an account and claim the project.
    %li
      %h3
        This project can be hidden from the public
        %small ...if the creator claims it & makes it 'private'.
  %p
    = link_to "Ok, read this, go away now", acknowledge_community_project_path(project), :class => "hide-grandparent", :id => "acknowledge-visibility"
