.columns.four_columns
  .column
    .box.simple_box
      %h5.title Do your build failures have a pattern?
      %p
        Mark the commits that break your build. Identify patterns. Change your habits. Track standard code metrics to find out.
      = link_to "Set up your build server...", howto_page_path("setup-ci")
  .column
    .box.simple_box
      %h5.title Does test coverage really matter?
      %p
        Track standard code metrics to find out. Track standard code metrics to find out. Track standard code metrics to find out.
      = link_to "Here's how to set it up...", ""
  .column
    .box.simple_box
      %h5.title Do death marches affect product quality?
      %p
        Attach custom meta-data to commits. Show the relationship between hours worked, exceptions raised, and support requests to convince stakeholders.
      = link_to "Here's how...", ""
  .column
    .box.simple_box
      %h5.title Looking for that link?
      %p
        Add direct links to commit-specific information, such as commit diffs, build output, and release packages, by using the
      = link_to "auto-matching commit attribute names...", ""
