.tracking_ideas
  %h3 Do your build failures have a pattern?
  %p.desc
    Mark the commits that break your build. Identify patterns. Change your habits.
    = link_to "Set up your build server...", ""

  %h3 Does test coverage really matter?
  %p.desc
    Track standard code metrics to find out.
    = link_to "Here's how to set it up...", ""

  %h3 Do death marches affect product quality?
  %p.desc
    Attach custom meta-data to commits. Show the relationship between hours worked, exceptions raised, and support requests to convince stakeholders.
    = link_to "Here's how...", ""

  %h3 Looking for that link?
  %p.desc
    Add direct links to commit-specific information, such as commit diffs, build output, and release packages, by using the
    = link_to "auto-matching commit attribute names...", ""
