.header
  %h1 Integrating with CruiseControl
.content
  %ol
    %li Each commit can have any number of named "builds" associated with it.
    %li To track a build, you must supply a name and the time it was started (and the commit identifier).
    %li Valid "states" for a build to be in are "running", "successful", or "failed".
