%h3 Integrating with Hudson...
%p
  We haven't developed a plugin for Hudson yet. However, assuming you're OK with running a Ruby script around your build process, the setup isn't too bad...
%ol
  %li
    Grab
    = link_to "this gist", 
  %li Add this to your build configuration...
  %li Save your changes to the build.
  %li Done!
