// not exactly sure where these go, but here for now
// background of modules, content
!page_color = #4D4D4D
// text
!kind_of_blue = #00aeef
!tag_line = !kind_of_blue

#grid, .grid
  :min-width 94em
  :margin 0 auto
  //:background-color= !background_color


body
  :background url(../../images/bg_grid.gif) repeat 10px 65px
  pre
    :font-family monospace
    :color  #555

  #header
    :height 5.4em
    :background-color= !page_color
    :border= 1px "solid" !page_color - #111
      :left none
      :right none
    :margin-top 3.6em
    h1, p
      :float left
    h1
      :margin 0
      img
        &.logo
          :position relative
          &.visual
            :top -1.5em
          &.textual
            :top -2.1em
            :padding-left 0.4em
    p
      :padding 0.4em 0 0 1em
      :font-size 1.5em
      :color = !tag_line

  #grid
    .main,
    .rail,
    .page,
    .full_page,
    .column
      :background-color= !background_color
      :float left
      +rounded

    // Home page styles
    #detail
      +clearfix
      .overview
        :float left
        :width 48em
        :margin 3em 0em 0em 3em
      .get_started
        :float right
        :margin 3em 0em 0em 3em
        ol li
          :list-style-type decimal
      .project_help
        :border 0.1em solid #CCC
        :padding 0.5em
        :background-color #DDD
        ul.actions
          :padding-left 3em
          li
            :list-style-type decimal
      ul.commits
        :padding-left 3em
        li
          :list-style-type square
          p
            :font-size .9em
            :color #AAA
        ul
          :padding-left 2em
          li
            :list-style-type none
            :color #777

    /* header was here . . . */

    #footer
      :margin-top 1em
      :border-top 1px solid #DDD
      :text-align center
      ul
        +clearfix
        :background none
        :margin 1em 0em 0em 0em
        li
          :float left
          :margin 0em 1em
          :background none
          :list-style-type none
          :font-size 1em
