.header
  %h1.title Sign in
.content
  - semantic_form_for @user_session, :url => session_path, :method => :post, :html => {:id => :login_form, :class => 'float-right'} do |f|
    = f.inputs :login, :password
    - f.buttons do
      = f.commit_button :button_html => {:id => "attempt_login", :value => "Login"}
      = link_to "Forget your password?", new_support_password_reset_request_path
