.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

body {
  background:#465a6e;
  color:#222;
  font-family:Arial;
  font-size:14px;
  margin:0px;
}


@successful_background:#3d8d3a;
@successful_color:#EEE;
@running_background:#ddd064;
@running_color:#555;
@failed_background:#ca4444;
@failed_color:#EEE;
@nobuilds_background:#ca4444;
@nobuilds_color:#EEE;

/* Randoms
========================================== */
.right {
  float:right;
}
.highlight {
  background-color:#E3CF57;
  border-radius:3px;
  display:inline;
  padding:5px;
}
.quiet { color:#AAA; }
.align_right { text-align:right; }
.shadow { text-shadow: 1px 2px 2px #AAA; }


/* Paragraphs
========================================== */
p { line-height:18px; }


/* Links
========================================== */
a {
  color:#146299;
  padding:3px;
}
a:hover {
  background:#0c81d2;
  color:#FFF;
  border-radius:2px;
}


/* Definition Lists
========================================== */
dl {
  margin:0 10px 10px;
  dt { 
    clear:both; 
    font-weight:bold;
    width:150px;
  }
  dd { width:200px; }
  dt, dd { 
    border-bottom:1px solid #CCC;
    float:left; 
    margin:3px 0;
    padding:3px 0;
  }
}


/* Mixins
========================================== */
.box_shadow {
  -moz-box-shadow: 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
}
.gradient(@foreground, @background) {
  background-image: -moz-linear-gradient(100% 100% 90deg, @foreground, @background);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@foreground), to(@background));
}
.header_gradient() {
  .gradient(#CCC, #AAA);
}
.selectable_gradient() {
  .gradient(#5377BA, #3f5989);
}
.selected_selectable_gradient() {
  .gradient(#9569b1, #c393e1);
}


/* Page
========================================== */
.page {
  margin:auto;
  width:1000px;
  padding:0 20px;
}
.header {
  .logo {
    padding:4px 10px;
    text-decoration:none;
    font-family:"Droid Sans";
    a {
      color:#FFF;
      font-size:25px; 
    }
    .tagline {
      color:#DDD;
      padding-left:13px;
    }
  }
}
#site_notifications {
  .notice, .error {
    padding:10px;
  }
}


/* Forms
========================================== */
form {
  .inline-errors {
    color:red;
    margin-top:0;
  }
  ol, ul { 
    list-style-type:none; 
    margin:0;
    padding:0;
  }
  li { 
    padding-bottom:10px;
    list-style-type:none;  
  }
  fieldset { border:0; }
  label { 
    color:#666;
    display:block; 
    font-size:16px;
  }
  input { font-size:20px; }
  textarea { }
  select {
    option { }
  }
  .commit { display:block; }
}


/* Lists
========================================== */
ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.inline {
  li { 
    display:inline; 
    padding:0 5px;
  }  
  li:first-child { padding-left:0px; }
  li:last-child { padding-right:0px; }
}
.header .inline {
  padding-top:10px;
  a { color:#FFF; }
}

.bullet {
  list-style-type:square;
  margin-left:16px;
}

.selectable {
  padding:10px 0;
  li { padding:0 3px; }
  a {
    border-radius:10px;
    color:#e9e9e9;
    padding:4px 8px;
    text-decoration:none;
    .selectable_gradient();
  }
  a:hover { background:#5377ba; }
  a.selected { .selected_selectable_gradient(); }
}

.projects {
  .project { 
    margin:10px 0;
    padding:20px 10px;
    border-radius:4px;
    .title { margin:0 0 0 20px; }
    a { text-decoration:none; }
    .visibility { 
      margin:8px 20px 0 0;
      font-weight:normal; 
    }
  }
  .successful {
    background-color:@successful_background;
    color:@successful_color;
    a, .visibility { color:@successful_color; }
  }
  .failed {
    background-color:@failed_background;
    color:@failed_color;
    a, .visibility { color:@failed_color; }
  }
  .running {
    background-color:@running_background;
    color:@running_color;
    a, .visibility { color:@running_color; }  
  }
  .nobuilds {
    border:2px solid #888;
  }
}


/* Headings
========================================== */
h1, h2, h3, h4, h5, h6 {
  color:#444;
  font-weight:bold;
  margin:15px 0 10px;
}
h1 { font-size:28px; }
h2 { font-size:24px; }
h3 { font-size:21px; }
h4 { font-size:18px; }
h5 { font-size:16px; }
h6 { font-size:14px; }


/* Columns
========================================== */
.columns {
  width:100%;
  .column { float:left; }
  .clearfix
}
.two_columns .column { width:50%; }
.three_columns .column { width:33%; }
.four_columns .column { 
  font-size:12px;
  width:25%; 
}


/* Box
========================================== */
.box {
  background:#FFF;
  border:1px solid #BBB;
  padding:10px;
  border-radius:5px;
}
.structured_box {
  margin:0px;
  padding:0px;
  .header { 
    padding:8px 10px 5px;
    .header_gradient();
    .title { margin:0px; }
  }
  .content {
    background:#EEE;
    padding:10px;
  }
  .footer {
    background:#FFF;
    border-top:1px solid #CCC;
    margin:50px -10px -10px;
  }
}
.simple_box {
  background:none;
  border:none;
}
.no_borders {
  border:none;
}
.column .box {
  margin:10px;
}


/* Attributes
========================================== */
.attributes {
  font-size:12px;
  padding:0px;
  margin:-10px 0px 15px;
  .title { margin:0 -10px; }
}


/* Visualizations
========================================== */
.visualization {
  margin-bottom:20px;
  .title { margin:0px; }
  .canvas { height:450px; }
}


/* Commit
========================================== */
.commit {
  display:none;
  .header {
    background:none;
    padding-top:0;
    border-bottom:1px solid #CCC;
    .title { margin:5px -10px 0; }
  }
  .content { padding-top:0; }
}

.build_duration {
  margin:0px;
  .highlight { 
    display:inline-block; 
    margin:0;
    padding:5px 40px;
    border-radius:5px;
  }
}

.payload {
  .key { width:125px; }
  .value { width:auto; }
  .key, .value { 
    background:#DDD;
    border-bottom:1px solid #CCC;
    float:left; 
    margin:3px 0;
    padding:3px 5px;
  } 
}

.successful .highlight { 
  background:@successful_background; 
  color:@successful_color;
}
.running .highlight { 
  background:@running_background; 
  color:@running_color;
}
.failed .highlight { 
  background:@failed_background; 
  color:@failed_color;
}

.head {
  display:block;
}


/* Default JavaScript Styles
========================================== */
.js_linegraph { height:450px; }