html {
  background-color: black;
}

div {
  width: 500px;
  background: url(/images/logo_bdub.png) no-repeat;
  height: 100px;
  margin: 100px auto;
}

div.notify_form {
  background: #DDD;
  margin: 150px auto;
  width: 500px;
  height: 200px;
}

div.notify_form h2 {
  text-align: center;
}
