// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass

// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

@import compass/utilities.sass

@import partials/lists.sass

@import partials/formtastic_base.sass
@import partials/cf_form_customizations.sass
@import partials/skintastic.sass

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body")


body
  :background-color #EEE
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction

a
  :outline none


  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
//  ul
//    :margin 0



body
  &.landing-page
    .main
      :padding-top 2em
      .carousel
        +column(12)
      .instructions
        +prepend(1)
        +column(10, last)
        :float right
        :border-left= 1px dotted #CCC
        h2
          :text-align left
        p
          :font-family terminal, monospace
          :padding-left 2em
  .main
    +clearfix
    :text-align center
  #usable-area
    +container
  #header, #footer, #content
    +column(!blueprint_grid_columns, true)
  &.three-col
    #header, #footer
      +column(!blueprint_grid_columns)
    #sidebar, #content
      // One third of the grid columns, rounding down. With 24 cols, this is 8.
      !sidebar_columns = floor(!blueprint_grid_columns / 2)
      +column(!sidebar_columns)
      // Two thirds of the grid columns, rounding up.
      // With 24 cols, this is 16.
      !content_columns = floor(!blueprint_grid_columns / 2)
      // true means it's the last column in the row
      +column(!content_columns, true)

  &.project-page #content, &.project-admin-page #content
    :text-align left
    a
      :color= !quiet_color
    h1.project_name
      +float-left
    p.reserve
      :clear both
      :font-size 1.5em
    ul
      &.project-administration, &.visualizations
        +horizontal-list
      &.project-administration
        :padding-top .5em
        +float-right
        .visibility
          :line-height 2.5em
      &.commits
        :margin-left 0
        :margin-right 0
        :margin-bottom 3em
        h4
          :font-size 16px
          :font-weight bold
          :margin-bottom 8px
          :margin-top 20px
        .container
          +clearfix
        .left, .right
          :float left
          :width 400px
        .right
          :padding-left 30px
        ul
          :margin-left 0px
          :font-size 13px
          :margin-bottom 15px
        > li
          +build_status_styles
          :position relative
          :display none
          &.head
            :display inherit
          span.duration
            :color #4AC45A
            :position absolute
            :right 0
            :top 0
            :padding 0em .25em 0 0
            :font-size 2em
    dl
      :clear both
      :text-align left
      dt
        :width 6em
        :padding-right 0.5em
        +float-left
      dd
        +clearfix
    #visualization-area
      +clearfix
      :border 5px solid #666
      :border-radius 10px
      :background #FFF
    #canvas
      :clear both
      :width 946px
      :height 440px
      
    .visualization_error
      :margin-bottom 1em
      :color #8a1f11
      h3
        :padding-top 200px
        :font-size 30px
        :color #CC3333
      
    #details
      +prepend(1)
      +column(11, true)
      :float none
      :width 100%
      :display block
      :text-align center
      :padding-left 0
      h2
        :font-weight bold
      h3
        :font-weight bold
      p
        :font-weight normal
        :color= !quiet_color
      h3, p.desc
        +prepend(1)
      .do_for_me 
        :font-size 20px
        
    .attributes
      +clearfix
      .attribute
        :float left
        :padding-right 10px
      a
        :padding 3px 10px
        :display block
        :font-size 14px
        :background #CCC
        :color #333
      a.selected 
        :background #666
        :color #FFF
        
  .tracking_ideas
    +clearfix
    :margin 50px 0 20px
    :padding-top 30px
    :border-top 1px solid #CCC
  .tracking_ideas li
    :width 23%
    :float left
    :padding-left 20px
  .tracking_ideas li:first-child 
    :padding-left 0px
  .i_want_it
    :font-size 30px

  &.project-page #content
    .new-project-reminder
      :padding 0.5em 0em 0em 1em
      :margin-bottom 1em
      :background-color= !notice_bg_color
      :border= 1px solid !notice_border_color
      :text-align left
      h2, li
        :color= !notice_color
      ol
        :padding-left 2em
        li
          :font-size 1.25em
          small
            :font-size 0.6em
            :color= !quiet_color
          pre
            :padding-left 1em
      a.hide-grandparent
        :font-size 1.8em
        :font-weight bold
    .project-overview
      h1
        :position relative
        :font-family 'Droid Sans'
        :font-weight bold
        :color #666
        :text-align left
        a
          :position absolute
          :top 0
          :right 0

// Navigation styling
#header
  :position relative
  :text-align left
  :border-bottom 1px dotted #CCC
  :margin-bottom 2em
  a
    :color= !quiet_color
  small
    :font-size 0.5em
  ul
    :position absolute
    :top 0
    :right 0
  .logo
    :background-image url('/images/logo2.png')
    :background-repeat no-repeat
    :text-indent -999em
    :height 5em
    a
      :display block
      :width 20em
      :height 5em
  .tagline
    :position absolute
    :top 3.25em
    :left 9.5em
    :color= !quiet_color
    em
      :text-decoration underline
div.session
  +clearfix
  :float right
  ul
    +horizontal-list

#footer
  :border-top 1px dotted #CCC
  :margin 100px 0
  :padding-top 30px
  a
    :color #AAA
    :text-decoration none

