// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass

// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

@import compass/utilities.sass

@import navigation.sass
@import partials/lists.sass

@import partials/formtastic_base.sass
@import partials/cf_form_customizations.sass
@import partials/skintastic.sass

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body")


body
  :background-color #FAFAFA
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction

  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
//  ul
//    :margin 0

body
  #usable-area
    +container
  #header, #footer, #content
    +column(!blueprint_grid_columns, true)
  &.three-col
    #header, #footer
      +column(!blueprint_grid_columns)
    #sidebar, #content
      // One third of the grid columns, rounding down. With 24 cols, this is 8.
      !sidebar_columns = floor(!blueprint_grid_columns / 2)
      +column(!sidebar_columns)
      // Two thirds of the grid columns, rounding up.
      // With 24 cols, this is 16.
      !content_columns = floor(!blueprint_grid_columns / 2)
      // true means it's the last column in the row
      +column(!content_columns, true)
  &.project-page #content
    :text-align left
    a
      :color= !quiet_color
    h1
      +float-left
    ul
      &.project-administration, &.visualizations
        +horizontal-list
      &.project-administration
        +float-right
    dl
      :clear both
      :text-align left
      dt
        :width 6em
        :padding-right 0.5em
        +float-left
      dd
        +clearfix
    #canvas
      +column(12)
    #details
      +prepend(1)
      +column(11, true)
