// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass

// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

@import compass/utilities.sass

@import partials/lists.sass

@import partials/formtastic_base.sass
@import partials/cf_form_customizations.sass
@import partials/skintastic.sass

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body")


body
  :background-color #FAFAFA
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction

  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
//  ul
//    :margin 0



body
  .main
    +clearfix
  #usable-area
    +container
  #header, #footer, #content
    +column(!blueprint_grid_columns, true)
  &.three-col
    #header, #footer
      +column(!blueprint_grid_columns)
    #sidebar, #content
      // One third of the grid columns, rounding down. With 24 cols, this is 8.
      !sidebar_columns = floor(!blueprint_grid_columns / 2)
      +column(!sidebar_columns)
      // Two thirds of the grid columns, rounding up.
      // With 24 cols, this is 16.
      !content_columns = floor(!blueprint_grid_columns / 2)
      // true means it's the last column in the row
      +column(!content_columns, true)

  &.project-page #content
    :text-align left
    a
      :color= !quiet_color
    h1.project_name
      +float-left
    p.reserve
      :clear both
      :font-size 1.5em
    ul
      &.project-administration, &.visualizations
        +horizontal-list
      &.project-administration
        :padding-top .5em
        +float-right
        .visibility
          :line-height 2.5em
      &.commits li
        +build_status_styles
      &.instructions
        :color= !quiet_color
        li
          p
            :font-size 1.5em
            +prepend(1)
    dl
      :clear both
      :text-align left
      dt
        :width 6em
        :padding-right 0.5em
        +float-left
      dd
        +clearfix
    #canvas
      :clear both
      +column(12)
    #details
      +prepend(1)
      +column(11, true)
      h2
        :font-weight bold
      h3
        :font-weight bold
      p
        :font-weight normal
      h3, p.desc
        +prepend(1)


// Navigation styling
#header
  a
    :text-decoration none
    &:hover
      :text-decoration underline
  h1
    +clearfix
    :float left
div.session
  +clearfix
  :float right
  ul
    +horizontal-list

#footer
  :text-align right
  a
    :color #AAA
    :text-decoration none




