.main
  %h1 Confirm the details below...
  - form_for @subscription, :url => confirmed_my_subscription_path, :html => {:class => "confirmation"} do |f|
    %h2 Final approval here
    = f.submit "Confirm purchase", :id => :confirmed
