%div
  .overview
    = image_tag "mockups/video_player.jpg"
  .get_started
    %ol
      %li
        Install [gemname]:
        %pre
          prompt $ sudo gem install [gemname]
      %li
        Run this:
        %pre
          = "prompt $ [command_name] --some-flag #{@public_key}"
      %li
        Review:
        %pre
          = link_to short_uri_url(@public_key), short_uri_url(@public_key), :id => :short_uri
