.main
  - if RAILS_ENV != "production"
    %h1 Track. Review. Improve.
    %ul
      %li
        %h2 Step 1. Install codefumes_harvester:
        %p
          sudo gem install codefumes_harvester
      %li
        %h2 Step 2. Run this on your project's repository:
        %p
          = "cf_harvest_repo_metrics"
      %li
        %h2 Step 3. Review:
        %p Visit the link printed out when the command finishes
  - else
    .notify_form
      %h1 Get notified when we launch.
      %p We'll never spam you or share your email address. Promise.
      %form{:action => 'http://madmimi.com/signups/subscribe/2652', :method => 'post', :id => "launch_signup"}
        %fieldset{:class => "inputs"}
          %ol
            %li{:class => "string optional"}
              %input{:id => 'signup_email', :name => 'signup[email]', :type => 'text'}
        %fieldset{:class => "buttons"}
          %ol
            %li{:class => "commit"}
              %input{:name => 'commit', :type => 'submit', :value => 'Sign me up'}
